#root {
  --color-prim: #1e90ff;

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main {
  display: grid;
  place-items: center;
}

.title {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background: linear-gradient(91deg, #42d392, #647eff);

  & .icon {
    width: 45px;
    height: 45px;
    color: #42d392;
  }
}
.icon {
  width: 70px;
  height: 70px;
  border-radius: 20%;
}

.turn{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.cell_turn{
  width: 70px;
  height: 70px;
  border-radius: 20%;
  border: solid 2px #fff;

  display: grid;
  place-items:center;
  transition: 100ms;

  :hover {
    background: var(--color-prim);
  }
}

.admin {
  display:flex ;  
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 25px;
  margin-top: 10px;
  .icon {
    width: 90px;
    height: 90px;
  }
}
.machine_turn {
  color:#696969;
}

.stadistics {
  display:flex;
  justify-content: center;
  gap: 15px;
  padding: 5px;
  max-width: 60px;

  .block {
    font-size: 18px;
    padding: 15px;
    border: solid 1.5px var(--color-prim);
    border-radius: 15px;
  }
  
}


.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  cursor: default;
}
.button {
  background: var(--color-prim);
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
}
