#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 .icon {
  width: 45px;
  height: 45px;
}
.icon {
  width: 70px;
  height: 70px;
  border-radius: 20%;
}

.turn{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.cell_turn{
  width: 70px;
  height: 70px;
  border-radius: 20%;
  border: solid 2px #fff;

  display: grid;
  place-items:center;
  transition: 100ms;

  :hover {
    background: #04799c;
  }
}

.stadistics {
  display:flex ;  
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  font-size: 25px;
  .icon {
    width: 90px;
    height: 90px;
  }
}
.machine_turn {
  color:#a5a5a5;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  cursor: default;
}
.button {
  background: #04799c;
  padding: 10px;
  font-size: 20px;
  border-radius: 10%;
}
